.item {
    padding: 0 1rem;
    @include flex(0, 1, auto);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    &.flex-100 {
        width: 100%;
        max-width: 100%;
        &.has-gutter {
            width: 96%;
            max-width: 96%;
            margin: 2%;
        }
    }
    &.flex-75 {
        width: 75%;
        max-width: 75%;
        &.has-gutter {
            width: 71%;
            max-width: 71%;
            margin: 2%;
        }
    }
    &.flex-50 {
        width: 50%;
        max-width: 50%;
        &.has-gutter {
            width: 46%;
            max-width: 46%;
            margin: 2%;
        }
    }
    &.flex-33 {
        width: 33.33%;
        max-width: 33.33%;
        &.has-gutter {
            width: 29.33%;
            max-width: 29.33%;
            margin: 2%;
        }
    }
    &.flex-25 {
        width: 25%;
        max-width: 25%;
        &.has-gutter {
            width: 21%;
            max-width: 21%;
            margin: 2%;
        }
    }
    &.has-centered-content {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }
    &.is-fill {
        @include flex(1);
    }
    a.item-overlay-link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        margin: 0;
        box-sizing: border-box;
        &.flex-100 {
            width: 100%;
            max-width: 100%;
            padding: 0 2rem 2rem 2rem;
        }
        &.flex-75 {
            width: 75%;
            max-width: 75%;
            padding: 0 2rem 2rem 2rem;
        }
        &.flex-50 {
            width: 50%;
            max-width: 50%;
            padding: 0 2rem 2rem 2rem;
        }
        &.flex-33 {
            width: 33%;
            max-width: 33%;
            padding: 0 2rem 2rem 2rem;
        }
        &.flex-25 {
            width: 25%;
            max-width: 25%;
            padding: 0 2rem 2rem 2rem;
        }
    }
}

@include phone {   
    .container {
        .item {
            padding: 0;
            &.flex-75, &.flex-50, &.flex-33, &.flex-25 {
                width: 100%;
                max-width: 100%;
                &.has-gutter {
                    width: 96%;
                    max-width: 96%;
                    margin: 2%;
                }
            }
            img {
                &.flex-75, &.flex-50, &.flex-33, &.flex-25 {
                    width: 100%;
                    max-width: 100%;
                    padding: 0 0 2rem 0;
                }
            }
        }
    }
}
@include tablet {
    .container {
        .item {
            &.flex-75, &.flex-50, &.flex-33, &.flex-25 {
                width: 100%;
                max-width: 100%;
            }
            &.flex-50-tablet {
                width: 50%;
                max-width: 50%;
                &.has-gutter {
                    width: 46%;
                    max-width: 46%;
                    margin: 2%;
                }
            }
            &.flex-33-tablet {
                width: 33.33%;
                max-width: 33.33%;
                &.has-gutter {
                    width: 29.33%;
                    max-width: 29.33%;
                    margin: 2%;
                }
            }
            &.flex-25-tablet {
                width: 25%;
                max-width: 25%;
                &.has-gutter {
                    width: 21%;
                    max-width: 21%;
                    margin: 2%;
                }
            }
            img {
                &.flex-75, &.flex-50, &.flex-33, &.flex-25 {
                    width: 100%;
                    max-width: 100%;
                    padding: 0 0 2rem 0;
                }
                &.flex-50-tablet {
                    width: 50%;
                    max-width: 50%;
                    padding: 0 2rem 2rem 2rem;
                }
                &.flex-33-tablet {
                    width: 33.33%;
                    max-width: 33.33%;
                    padding: 0 2rem 2rem 2rem;
                }
                &.flex-25-tablet {
                    width: 25%;
                    max-width: 25%;
                    padding: 0 2rem 2rem 2rem;
                }
            }
        }
    }
}