<footer>
    <div class="container">
        <div class="item flex-100 has-margin-two-bottom">
            <a href="mailto:marge.kelley@expresspros.com?subject=Kid's Cup Rochester"><span class="fa fa-envelope fa-2x is-icon"></span></a>
            <a href="https://www.facebook.com/kidscuprochester/"><span class="fab fa-facebook fa-2x is-icon"></span></a>
        </div>
        <div class="item flex-100">
            <div id="site-author"></div>                
        </div>
    </div>
</footer>