<header>
    <div class="container">
        <div class="item flex-100">
            <img class="site-logo" src="{{ site.baseurl }}/assets/images/kids_cup_logo.png" />
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="item flex-100">
            <nav>
                <ul>
                    <li><a href="#who-we-are">About</a></li>
                    <li><a href="#sponsors">Sponsors</a></li>
                    <li><a href="#sign-up">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>