#intro {
    height: 60vh;
    padding: 0;
    background-color: $black;
    position: relative;
    .background-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        opacity: .5;
        z-index: 1;
    }
    > :not(.background-image) {
        z-index: 2;
    }
    #intro-content {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .icon {
            width: auto;
            height: 15rem;
            margin: 0;
        }
        .title {
            margin: 0 0 1rem;
            color: $white;
        }
    }
}

@include phone-and-tablet {
    #intro {
        #intro-content {
            .icon {
                height: 10rem;
            }
        }
    }
}