header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include box-shadow(0, 0, 10px, rgba(0,0,0,0.1));
    background-color: $red;
    z-index: 1000;
    .container {
        padding: 0;
        .item {
            position: relative;
            .site-logo {
                width: auto;
                height: $header-height;
                padding: 1rem 0;
                margin: 0;
                display: none;
            }
            nav {
                text-align: center;
                &.open {
                    display: block;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li {
                        display: inline-block;
                        a {
                            margin: 1.5rem;
                            display: block;
                            line-height: 1.25rem;
                            font-size: 1.25rem;
                            font-family: 'Raleway', sans-serif;
                            font-weight: 200;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $white;
                        }
                    }
                }
            }
            .hamburger {
                width: 20px;
                height: 20px;
                margin: -10px 0 0;
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 1rem;
                flex: none;
                transform: rotate(0deg);
                transition: .5 ease-in-out;
                cursor: pointer;
                > span {
                    width: 100%;
                    height: 4px;
                    display: block;
                    position: absolute;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    background-color: $white;
                }
                span:nth-child(1) {
                    top: 0px;
                }
                &.open span:nth-child(1) {
                    top: 8px;
                    transform: rotate(-135deg);
                }
                span:nth-child(2) {
                    top: 8px;
                }
                &.open span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    top: 16px;
                }
                &.open span:nth-child(3) {
                    top: 8px;
                    transform: rotate(135deg);
                }
            }
        }
    }
}

@include phone-and-tablet {
    header {
        .container {
            .item {
                .site-logo {
                    display: inline-block;
                }
                nav {
                    display: none;
                    ul {
                        li {
                            width: 100%;
                            a {
                                width: 100%;
                                padding: 0;
                                margin: 1em 0;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include desktop {
    header {
        .container {
            .item {
                .hamburger {
                    display: none !important;
                }
            }
        }
    }
}