html {
    height: 100%;
}
body {
    min-height: 100vh;
    margin-top: $header-height;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: $dark-gray;
    @include flexbox;
    @include flex-direction(column); 
    main {
        @include flex(1);
        @include flexbox;
        @include flex-direction(column);
        section {
            &.is-fill {
                height: 100%;
                @include flex(1);
                @include flexbox;
                @include flex-direction(column);
            }
        }
    }
}

iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a {
    color: $red;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
    max-width: 100%;
}

blockquote {
    padding: 0 0 0 .5em;
    margin: 0 .5em 0 2rem;
    border-left: 0.2em solid $light-gray;
    position: relative;
    p {
        font-style: italic;
    }
    &::before {
        content: '\f10d';
        font-family: 'FontAwesome';
        font-size: 2em;
        position: absolute;
        left: -1em;
    }
}

code {
    max-width: 100%;
    padding: .25em .5em;
    border: none;
    border-radius: 0;
    background-color: $light-gray;
    font-family: 'Source Code Pro', serif;
    font-size: .85em;
    overflow: auto;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: $light-gray;
    code {
        padding: 0;
        font-size: 100%;
        color: inherit;
        background-color: transparent;
    }
}

hr {
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 1px solid #E7E7E7;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin:  0 0 2rem 0;
    font-family: 'Bitter', sans-serif;
    &.section-heading {
        text-transform: uppercase;
    }
    a:hover {
        text-decoration: none;
    }
}
h1, h2, h3 {
    color: $red;
}
h4, h5, h6 {
    color: $dark-gray;
}
h1 {
    font-size: 58px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}

p, ul, ol, hr, img, iframe, blockquote {
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
}