.is-full-width {
    width: 100% !important;
    max-width: 100% !important;
}
.is-full-height {
    height: 100% !important;
    max-height: 100% !important;
}
.is-full-width-and-height {
    @extend .is-full-width;
    @extend .is-full-height;
}
.has-no-padding {
    padding: 0 !important;
}
.has-no-margins {
    margin: 0 !important;
}
.has-no-padding-or-margins {
    @extend .has-no-padding;
    @extend .has-no-margins;
}
.has-padding-one {
    padding: 1rem !important;
}
.has-padding-two {
    padding: 2rem !important;
}
.has-margin-one {
    margin: 1rem !important;
}
.has-margin-two {
    margin: 2rem !important;
}
.has-margin-one-bottom {
    margin-bottom: 1rem !important;
}
.has-margin-two-bottom {
    margin-bottom: 2rem !important;
}
.zoom-on-hover {
    > * {
        transition: all 300ms ease-in-out;
    }
    &:hover {
        > * {
            @include zoom-scale(1.2);
        }
    }
}
.is-left-aligned {
    text-align: left;
}
.is-center-aligned {
    text-align: center;
}
.is-right-aligned {
    text-align: right;
}
.is-floated-left {
    float: left;
}
.is-floated-right {
    float: right;
}
.is-round-img {
    border-radius: 50%;
}
.is-inline-link {
    display: inline-block;
    text-decoration: none;
    font-size: .9em;
    > span {
        margin-right: .5em;
    }
}
.is-button {
    padding: .5em 1.3em;
    border-radius: .25em;
    display: inline-block;
    background-color: $red;
    color: $white;
    text-decoration: none;
    &:hover {
        background-color: $light-red;
        text-decoration: none;
        cursor: pointer;        
    }
}
.is-icon {
    margin: 0 0 2rem 0;
}
ul {
    &.is-unstyled-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &.is-inline-list {
        li {
            display: inline-block;
        }
    }
    &.is-pagination-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            a {
                padding: .5em;
                display: block;
                text-decoration: none;
                color: $dark-gray;
                &.curr-page {
                    background-color: $dark-gray;
                    color: $white;
                }
            }
        }
    }
    &.is-unbulleted-list {
        padding: 0;
        margin-left: none;
        list-style-type: none;
    }
}
p {
    &.is-subheading {
        font-size: .9em;
        text-transform: uppercase;
    }
}
.is-section-heading {
    margin: 2rem 0 4rem 0;
}
.has-white-background {
    background-color: $white;
    color: $dark-gray;
}
.has-light-gray-background {
    background-color: $light-gray;
    color: $dark-gray;
}
.has-green-background {
    background-color: $green;
    color: $white;
}
.has-orange-background {
    background-color: $orange;
    color: $white;
}

@include phone {
    .is-hidden-mobile {
        display: none !important;
    }
}
@include tablet {
    .is-hidden-tablet {
        display: none !important;
    }
}
@include desktop {
    .is-hidden-desktop {
        display: none !important;
    }
}