$phone-max-width: 320px;
$tablet-min-width: 321px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;
$container-max-width: 1100px;

$header-height: 4.25rem;

$white: #FFFFFF;
$black: #000000;
$dark-gray: #5b5b5b;
$gray: #8f9093;
$light-gray: #F7F7F7;
$blue: #398FED;
$light-blue: #67ADF7;
$green: #58842B;
$light-green: #618E33;
$orange: orange;
$red: #CC322C;
$light-red: #CE524E;